/* src/css/enterEmail.css */

.cont-em {
    max-width: 500px;
  }
  
  .card-em {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 24px;
    font-weight: 600;
  }
  
  .prim {
    background-color: #007bff;
    border: none;
  }
  
  .prim:hover {
    background-color: #0056b3;
  }
  
  .formctrl {
    border-radius: 5px;
  }
  
  .mtt-3  {
    margin-top: 1rem !important;
  }
  
  .mtt-4 {
    margin-top: 1.5rem !important;
  }
  